<mat-toolbar>
    <img routerLink="/"
         src="assets/img/logo.png"
         alt="Logo Oc'consigne">

    <span class="spacer"></span>
    <div class="list-button-flex-container">
        <button mat-stroked-button
                class="m-lg-2"
                routerLinkActive="active"
                routerLink="/description">
            Comment ça marche ?
        </button>

        <button mat-stroked-button
                class="m-lg-2"
                routerLinkActive="active"
                routerLink="/shops-list">
            Magasins points de collecte
        </button>

        <button mat-stroked-button
                class="m-lg-2"
                routerLinkActive="active"
                routerLink="/producers-list">
            Producteurs engagés
        </button>

        <button mat-stroked-button
                class="m-lg-2"
                routerLinkActive="active"
                routerLink="/news-list">
            Actualités
        </button>

        <button mat-stroked-button
                class="m-lg-2"
                routerLinkActive="active"
                routerLink="/contact">
            Contactez-nous
        </button>

        <button mat-stroked-button
                *ngIf="logged"
                class="m-lg-2"
                routerLinkActive="active"
                routerLink="/user">
            Utilisateurs
        </button>
        <button mat-stroked-button
                class="m-lg-2"
                *ngIf="logged"
                routerLinkActive="active"
                routerLink="/map">
            Carte teste
        </button>
    </div>

    <button mat-fab
            color="primary"
            [matMenuTriggerFor]="menu"
            aria-label="icon-button">
        <mat-icon>perm_identity</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item
                *ngIf="!logged"
                [routerLink]="['register']">
            <mat-icon color="primary">how_to_reg</mat-icon>
            <span>Register</span>
        </button>
        <button mat-menu-item
                *ngIf="!logged"
                [routerLink]="['login']">
            <mat-icon color="accent">login</mat-icon>
            <span>Connection</span>
        </button>
        <button mat-menu-item
                [routerLink]="['reset-password']">
            <mat-icon color="primary">password</mat-icon>
            <span>Reset password</span>
        </button>
        <button mat-menu-item
                *ngIf="logged"
                (click)="logout()">
            <mat-icon color="warn">logout</mat-icon>
            <span>Deconnection</span>
        </button>
    </mat-menu>
</mat-toolbar>
