<mat-toolbar>
    <img routerLink="/"
         src="assets/img/logo.png"
         alt="Logo Oc'consigne">

    <span class="spacer"></span>

    <button mat-fab
            color="primary"
            class="m-lg-2"
            [matMenuTriggerFor]="menu"
            aria-label="icon-button">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item
                [routerLink]="['description']">
            <mat-icon color="accent">help_outline</mat-icon>
            <span>Comment ça marche ?</span>
        </button>
        <button mat-menu-item
                [routerLink]="['shops-list']">
            <mat-icon color="accent">place</mat-icon>
            <span>Magasins points de collecte</span>
        </button>
        <button mat-menu-item
                [routerLink]="['producers-list']">
            <mat-icon color="accent">group_work</mat-icon>
            <span>Producteurs engagés</span>
        </button>
        <button mat-menu-item
                [routerLink]="['news-list']">
            <mat-icon color="accent">feed</mat-icon>
            <span>Actualités</span>
        </button>
        <button mat-menu-item
                [routerLink]="['contact']">
            <mat-icon color="accent">mail</mat-icon>
            <span>Contactez-nous</span>
        </button>
    </mat-menu>

    <button mat-fab
            color="primary"
            *ngIf="roleAdmin"
            [matMenuTriggerFor]="menuAdmin"
            aria-label="icon-button">
        <mat-icon>settings</mat-icon>
    </button>
    <mat-menu #menuAdmin="matMenu">
        <button mat-menu-item
                *ngIf="roleAdmin"
                [routerLink]="['user']">
            <mat-icon color="accent">people</mat-icon>
            <span>Utilisateurs</span>
        </button>
        <button mat-menu-item
                *ngIf="roleAdmin"
                [routerLink]="['bottle']">
            <mat-icon color="accent">liquor</mat-icon>
            <span>Bouteilles</span>
        </button>
    </mat-menu>

    <button mat-fab
            color="primary"
            class="m-lg-2"
            [matMenuTriggerFor]="menuAccount"
            aria-label="icon-button">
        <mat-icon>perm_identity</mat-icon>
    </button>
    <mat-menu #menuAccount="matMenu">
        <button mat-menu-item
                *ngIf="!logged"
                [routerLink]="['auth/register']">
            <mat-icon color="primary">how_to_reg</mat-icon>
            <span>Inscription</span>
        </button>
        <button mat-menu-item
                *ngIf="!logged"
                [routerLink]="['auth/login']">
            <mat-icon color="accent">login</mat-icon>
            <span>Connection</span>
        </button>
        <button mat-menu-item
                *ngIf="logged"
                [routerLink]="['me']">
            <mat-icon color="accent">manage_accounts</mat-icon>
            <span>Profil</span>
        </button>
        <button mat-menu-item
                *ngIf="logged"
                [routerLink]="['map']">
            <mat-icon color="accent">local_shipping</mat-icon>
            <span>Carte teste</span>
        </button>
        <button mat-menu-item
                *ngIf="logged"
                (click)="logout()">
            <mat-icon color="warn">logout</mat-icon>
            <span>Deconnection</span>
        </button>
    </mat-menu>
</mat-toolbar>
