<div class="mat-card p-4">
    <div class="mat-card-title">
        Commandes de matériels
    </div>
    <div class="mat-card-subtitle">
        <p>Nous consignons le matériel que nous vous proposons.</p>
    </div>
    <div class="mat-card-content">
        <h3>Liste des commandes</h3>
        <table mat-table
               [dataSource]="listUserOrder"
               multiTemplateDataRows
               class="mat-elevation-z8">

            <!-- CreatedAt Column -->
            <ng-container matColumnDef="createdAt">
                <th mat-header-cell *matHeaderCellDef
                    i18n="@@order.createdAt"> Date
                </th>
                <td mat-cell
                    *matCellDef="let order"> {{order.createdAt | date}} </td>
            </ng-container>

            <!-- order_status Column -->
            <ng-container matColumnDef="order_status">
                <th mat-header-cell *matHeaderCellDef
                    i18n="@@order.order_status"> Statut de la commande
                </th>
                <td mat-cell
                    *matCellDef="let order"> {{order.order_status | orderStatus}} </td>
            </ng-container>

            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef
                    i18n="@@order.actions"> Actions
                </th>
                <td mat-cell *matCellDef="let order">
                    <button mat-mini-fab
                            (click)="editOrder(order.id)"
                            title="Modifier"
                            class="m-lg-2"
                            color="accent">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-mini-fab
                            (click)="deleteOrder(order.id)"
                            title="Supprimer"
                            class="m-lg-2"
                            color="warn">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>

<!--            Todo vois comment ça réagie avec plusieurs articles differents-->
            <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let order" [attr.colspan]="displayedColumns.length">
                    <div class="example-element-detail"
                         [@detailExpand]="order == expandedOrder ? 'expanded' : 'collapsed'"
                         *ngFor="let item of order.items">
                        <img *ngIf="item.material.img_name"
                             src="{{this.authUrl + '/materials/file/' + item.material.img_name}}"
                             alt="Image material"
                             class="example-element-diagram">
                        <div class="example-element-description">
                            {{item.material.name}} x {{item.quantity}}
                        </div>
                        <div class="example-element-description">
                            {{item.material.description}}
                        </div>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let order; columns: displayedColumns"
                class="example-element-row"
                [class.example-expanded-row]="expandedOrder === order"
                (click)="expandedOrder = expandedOrder === order ? null : order"></tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>
        <div *ngIf="totalUserOrder === 0" class="text-center mt-2">Aucune commande</div>

        <mat-paginator *ngIf="totalUserOrder !== 0"
                       [pageIndex]="0"
                       [length]="totalUserOrder"
                       [pageSize]="5"
                       [pageSizeOptions]="[5, 10, 20]"
                       [showFirstLastButtons]="true"></mat-paginator>
        <div class="spinner-container"
             *ngIf="listUserOrder && listUserOrder.loading$ | async">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
    </div>

    <mat-divider *ngIf="!isAdmin"></mat-divider>

    <div class="mat-card-content" *ngIf="!isAdmin">
        <h3>Liste du matériel disponnible</h3>
        <app-material-gallery-mini></app-material-gallery-mini>
    </div>
</div>
