<div class="row">
    <div class="col-md-6 offset-md-3 mt-4"><h3>Nouveau mots de passe</h3>
        <form [formGroup]="userForm"
              (ngSubmit)="onReset()">
            <mat-form-field appearance="standard"
                            color="accent">
                <mat-label for="registerPassword">Nouveau mots de passe</mat-label>
                <input matInput
                       type="password"
                       name="password"
                       formControlName="password"
                       id="registerPassword">
                <mat-error *ngIf="passwordCtrl.touched && passwordCtrl.hasError('required')">
                    Nouveau mots de passe est requis
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="standard"
                            color="accent">
                <mat-label for="passwordRepeat">Confirmation nouveau mots de passe</mat-label>
                <input matInput
                       type="password"
                       name="passwordRepeat"
                       formControlName="passwordRepeat"
                       id="password_repeat">
                <mat-error *ngIf="passwordRepeatCtrl.touched && passwordRepeatCtrl.hasError('required')">
                    La confirmation du nouveau mots de passe est requise
                </mat-error>
                <mat-error *ngIf="passwordRepeatCtrl.touched && passwordRepeatCtrl.hasError('mustMatch')">
                    Les mots de passe doivent correspondre
                </mat-error>
            </mat-form-field>
            <button mat-raised-button
                    color="primary"
                    type="submit"
                    [disabled]="userForm.invalid">Valider le nouveau mots de passe <i class="fas fa-paper-plane"></i></button>
        </form>
    </div>
</div>
