<div class="row ">
    <div class="col-md-8 offset-md-2 mt-4">

        <h1>Les consommateurs</h1>

        <mat-card class="mt-2">
            <mat-card-title>Comment ça marche ?</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
            <mat-card-content>
                schéma :
                <ul>
                    <li>Repérez un magasin engagé dans le réemploi (sticker entrée)</li>
                    <li>Repérez un magasin engagé dans le réemploi (sticker entrée)</li>
                    <li>Repérez les bouteilles aptes au réemploi et le picto (sticker bouteilles)</li>
                    <li>consommez et rincez</li>
                    <li>stocker à l’abri</li>
                    <li>vérifiez que votre bouteille est en bon état</li>
                    <li>rapportez votre bouteille en point de collecte</li>
                </ul>
            </mat-card-content>
        </mat-card>

        <mat-card class="mt-2">
            <mat-card-title>Où acheter et rapporter vos bouteilles ?</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
            <mat-card-actions>
                <button mat-raised-button
                        [routerLink]="['../map']">
                    <span>Découvrir les points de collecte</span>
                </button>
            </mat-card-actions>
        </mat-card>
        <mat-card class="mt-2">
            <mat-card-title>Quelles bouteilles rapporter?</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
            <mat-card-actions>
                <button mat-raised-button
                        [routerLink]="['../producer-list']">
                    <span>Découvrir les producteurs engagés</span>
                </button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="mt-2">
            <mat-card-title>Foire aux questions</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
            <mat-card-content>
                <mat-card class="mt-2">
                    <mat-card-title>Question 1</mat-card-title>
                    <mat-card-content>
                        Response 1
                    </mat-card-content>
                </mat-card>
                <mat-card class="mt-2">
                    <mat-card-title>Question 2</mat-card-title>
                    <mat-card-content>
                        Response 2
                    </mat-card-content>
                </mat-card>
                <mat-card class="mt-2">
                    <mat-card-title>Question 3</mat-card-title>
                    <mat-card-content>
                        Response 3
                    </mat-card-content>
                </mat-card>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button
                        [routerLink]="['../faq']">
                    <span>En voir plus</span>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
