<div class="row ">
    <div class="col-md-8 offset-md-2 mt-4">

        <h1>Je souhaite m’engager</h1>

        <mat-card class="mt-2">
            <mat-card-title>Pourquoi s’engager ?</mat-card-title>
            <mat-card-subtitle>Le réemploi, qu’est-ce que ça m’apporte ?</mat-card-subtitle>
            <mat-card-content>
                <ul>
                    <li>Réduire mon impact environnemental</li>
                    <li>Renforcer vos engagements RSE</li>
                    <li>Répondre à une demande forte des consommateurs</li>
                    <li>Fidéliser mes clients grâce à la collecte</li>
                    <li>Promouvoir l’économie circulaire et les circuits courts</li>
                    <li>Relocaliser l’achat de vos bouteilles</li>
                    <li>Participer à la création d’emplois non délocalisables</li>
                </ul>
            </mat-card-content>
        </mat-card>

        <mat-card class="mt-2">
            <mat-card-title>Le réemploi c’est quoi ?</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
            <img mat-card-image src="assets/img/filiere.png" alt="schéma qui explique le réemploi">
            <mat-card-actions>
                <button mat-raised-button
                        [routerLink]="['../reemploi']">
                    <span>En savoir plus</span>
                </button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="mt-2">
            <mat-card-title>Comment rejoindre le réseau ?</mat-card-title>
            <mat-card-subtitle>Vous souhaitez avoir plus d'informations sur le réemploi</mat-card-subtitle>
            <mat-card-content>
                Vous avez décidé de devenir acteur du réemploi
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button
                        [routerLink]="['../contact']">
                    <span>Alors contactez-nous</span>
                </button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="mt-2">
            <mat-card-title>Foire aux questions</mat-card-title>
            <mat-card-subtitle>les 3 questions les plus posées</mat-card-subtitle>
            <mat-card-content>
                <mat-card class="mt-2">
                    <mat-card-title>Combien de temps pour devenir producteur engagé ?</mat-card-title>
                    <mat-card-content>
                        Response 1
                    </mat-card-content>
                </mat-card>
                <mat-card class="mt-2">
                    <mat-card-title>Quels types de contenants peuvent être utilisés en réemploi par Oc’consigne ?</mat-card-title>
                    <mat-card-content>
                        Response 2
                    </mat-card-content>
                </mat-card>
                <mat-card class="mt-2">
                    <mat-card-title>Question 3</mat-card-title>
                    <mat-card-content>
                        Response 3
                    </mat-card-content>
                </mat-card>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button
                        [routerLink]="['../faq']">
                    <span>En voir plus</span>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
