<div class="container">
    <div class="row">
        <div class="col-md-12 pt-2">
            <h3>Modifier</h3>
            <form [formGroup]="editUserForm"
                  (ngSubmit)="onSubmit()">

                <mat-form-field appearance="standard"
                                color="accent">
                    <mat-label for="registerUsername">Nom de l'utilisateur*</mat-label>
                    <input matInput
                           type="text"
                           name="username"
                           formControlName="username"
                           id="registerUsername"
                           placeholder="Ecrire le nom">
                    <mat-error *ngIf="usernameCtrl.touched && usernameCtrl.hasError('required')">
                        Le nom d'utilisateur est requis
                    </mat-error>
                    <mat-error *ngIf="usernameCtrl.touched && usernameCtrl.hasError('minlength')">
                        Le nom d'utilisateur doit faire au moins 3 caractères
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="standard">
                    <mat-label>Rôle</mat-label>
                    <mat-select formControlName="role">
                        <mat-option *ngFor="let role of roles"
                                    [value]="role">
                            {{role}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-label>Activitées</mat-label>
                <mat-slide-toggle formControlName="reseller" color="primary">Revendeur</mat-slide-toggle>
                <mat-slide-toggle formControlName="producer" color="primary">Producteur</mat-slide-toggle>

                <mat-form-field appearance="standard"
                                color="accent">
                    <mat-label for="registerEmail">Email*</mat-label>
                    <input matInput
                           type="email"
                           name="email"
                           readonly
                           formControlName="email"
                           id="registerEmail"
                           placeholder="Enter Email">
                    <mat-error *ngIf="emailCtrl.touched && emailCtrl.hasError('required')">
                        L'email est requis
                    </mat-error>
                    <mat-error *ngIf="emailCtrl.touched && emailCtrl.hasError('email')">
                        L'email n'est pas valide
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="standard"
                                color="accent">
                    <mat-label for="company">Société</mat-label>
                    <input matInput
                           type="text"
                           name="company"
                           formControlName="company"
                           id="company">
                </mat-form-field>

                <mat-form-field appearance="standard"
                                color="accent">
                    <mat-label for="adress">Adresse</mat-label>
                    <input matInput
                           type="text"
                           name="adress"
                           formControlName="adress"
                           id="adress">
                </mat-form-field>

                <mat-form-field appearance="standard"
                                color="accent">
                    <mat-label for="adress">Détails de l'adresse</mat-label>
                    <input matInput
                           type="text"
                           name="adress_details"
                           formControlName="adress_details">
                </mat-form-field>

                <mat-form-field appearance="standard"
                                color="accent">
                    <mat-label for="postal_code">Code postal</mat-label>
                    <input matInput
                           type="text"
                           name="postal_code"
                           formControlName="postal_code"
                           id="postal_code">
                </mat-form-field>

                <mat-form-field appearance="standard"
                                color="accent">
                    <mat-label for="city">Ville</mat-label>
                    <input matInput
                           type="text"
                           name="city"
                           formControlName="city"
                           id="city">
                </mat-form-field>

                <mat-form-field appearance="standard"
                                color="accent">
                    <mat-label for="tel">Téléphone</mat-label>
                    <input matInput
                           type="text"
                           name="tel"
                           formControlName="tel"
                           id="tel">
                </mat-form-field>

                <div class="flex-row pt-2">
                    <button mat-raised-button
                            color="warn"
                            class="m-lg-2"
                            type="button"
                            routerLink="/user"
                            i18n="UserEdit.button.cancel">Annuler
                    </button>
                    <button mat-raised-button
                            color="primary"
                            type="submit"
                            [disabled]="editUserForm.invalid || !editUserForm.dirty">Modifier
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

