<div class="container">
    <div class="row">
        <div class="col-md-12 pt-2">
            <h2 class="text-center">Les producteurs engagés</h2>
            <p>Brasseurs, vignerons, producteurs de limonade, de kombutcha, transformateurs de jus....
                des dizaines de producteurs s'engagent dans le réemploi. Plusieurs ont déjà des
                bouteilles prêtes à être réemployées.</p>
        </div>
        <div class="col-md-12 pt-2 d-flex flex-md-wrap">
            <mat-card class="card m-lg-2"
                      *ngFor="let producer of listProducers">
                <mat-card-header>
                    <mat-card-title>{{producer.company}}</mat-card-title>
                    <mat-card-subtitle>{{producer.city}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image
                     src="{{producer.logo}}"
                     alt="logo">
                <mat-card-actions>
                    <a mat-button href="{{producer.link}}" target="_blank">Voir leur site</a>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
