<div class="container">
    <div class="row">
        <div class="col-md-12 pt-2">
            <h3 i18n="@@CollecteList.title">Liste des collectes en attente</h3>

            <mat-table class="lessons-table mat-elevation-z8"
                       [dataSource]="collectes"
                       matSort
                       matSortActive="collectename"
                       matSortDirection="asc">

                <!-- Status Column -->
                <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef
                                     mat-sort-header
                                     i18n="@@CollecteAttributes.status"> Statut
                    </mat-header-cell>
                    <mat-cell mat-cell
                              *matCellDef="let collecte">
                        <p *ngIf="collecte.status === collecteStatus.ALMOST_FULL" class="orange">80%</p>
                        <p *ngIf="collecte.status === collecteStatus.FULL" class="red">100%</p>
                    </mat-cell>
                </ng-container>

                <!-- Company Column -->
                <ng-container matColumnDef="company">
                    <mat-header-cell *matHeaderCellDef
                                     mat-sort-header
                                     i18n="@@CollecteAttributes.company"> Société
                    </mat-header-cell>
                    <mat-cell mat-cell
                              *matCellDef="let collecte"> {{collecte.company}} </mat-cell>
                </ng-container>

                <!-- Actions Column -->
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef
                                     mat-sort-header
                                     i18n="@@CollecteAttributes.actions"> Actions
                    </mat-header-cell>
                    <mat-cell *matCellDef="let collecte">
                        <button mat-mini-fab
                                (click)="editCollecte(collecte.id)"
                                title="Détails"
                                class="m-lg-2"
                                color="accent">
                            <mat-icon>visibility</mat-icon>
                        </button>
                        <button mat-mini-fab
                                (click)="deleteCollecte(collecte.id)"
                                title="Supprimer"
                                class="m-lg-2"
                                color="warn">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>

            <mat-paginator [pageIndex]="0"
                           [length]="totalCollectes"
                           [pageSize]="10"
                           [pageSizeOptions]="[10, 20, 50]"
                           [showFirstLastButtons]="true"></mat-paginator>

            <div class="spinner-container"
                 *ngIf="collectes && collectes.loading$ | async">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
            <div class="flex-row pt-2">
                <button mat-raised-button
                        color="primary"
                        (click)="exportAllCollectes()">
                    <span i18n="@@CollecteList.button.exportCollecte">Exporter la liste des collectes</span>
                </button>
            </div>
        </div>
    </div>
</div>
