<div class="footer-container container text-center fixed-bottom">
    <div class="row" style="background-color: #fff;">
        <div class="col">
            <h3>Partager :</h3>
            <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                <mat-icon>home</mat-icon>
            </button>
            <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                <mat-icon>home</mat-icon>
            </button>
            <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                <mat-icon>home</mat-icon>
            </button>
            <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                <mat-icon>home</mat-icon>
            </button>
        </div>
        <div class="col-8">
            <img class="m-lg-2" src="assets/img/ademe.png"
                 alt="ademe">
            <img class="m-lg-2" src="assets/img/mmm.jpg"
                 alt="Montpellier mediterranée métropole">
            <img class="m-lg-2" src="assets/img/region.jpg"
                 alt="occitanie">
            <img class="m-lg-2" src="assets/img/citeo.jpg"
                 alt="citeo">
        </div>
    </div>
</div>
