<div class="footer-container container text-center fixed-bottom">
    <div class="row" style="background-color: #fff;">
        <div class="col">
            <h3>Partager :</h3>
            <div class="row icons-social">
                <a target="_blank"
                    title="Facebook"
                    href="http://www.facebook.com/sharer.php?u=https://www.oc-consigne.fr/producteurs-engag%C3%A9s/&t=Producteurs%20engag%C3%A9s">
                    <img class="icon-social mr-2" src="assets/img/facebook.svg" alt="Facebook" >
                </a>
                <a target="_blank"
                    title="Twitter"
                    href="http://twitter.com/share?text=Producteurs%20engag%C3%A9s&url=https%3A%2F%2Fwww.oc-consigne.fr%2Fproducteurs-engag%25C3%25A9s%2F">
                    <img class="icon-social mr-2" src="assets/img/twitter.svg" alt="Twitter">
                </a>
                <a target="_blank"
                    title="LinkedIn"
                    href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.oc-consigne.fr/producteurs-engag%C3%A9s/&title=Producteurs%20engag%C3%A9s">
                    <img class="icon-social" src="assets/img/linkedin.svg" alt="LinkedIn">
                </a>
            </div>
        </div>
        <div class="col-8">
            <img class="m-lg-2" src="assets/img/ademe.png"
                 alt="ademe">
            <img class="m-lg-2" src="assets/img/mmm.jpg"
                 alt="Montpellier mediterranée métropole">
            <img class="m-lg-2" src="assets/img/region.jpg"
                 alt="occitanie">
            <img class="m-lg-2" src="assets/img/citeo.jpg"
                 alt="citeo">
        </div>
    </div>
</div>
