<div class="row ">
    <div class="col-md-6 offset-md-3 mt-4">
        <youtube-player #player
                        [videoId]="videoId"></youtube-player>

    </div>
</div>
<div class="row ">
    <div class="col-md-8 offset-md-2 mt-4">
        <p>
            Vidéo de présentation du principe de la consigne pour réemploi et de ses avantages, proposée par le
            <a href="http://www.reseauconsigne.com/" target="_blank" title="http://www.reseauconsigne.com/">Réseau
                Consigne</a>
            et la
            <a href="http://www.fondation-nature-homme.org/" target="_blank"
               title="http://www.fondation-nature-homme.org/">
                Fondation pour la Nature et l'Homme</a>
        </p>

        <h2>Et ici, ça fonctionnerait comment ?</h2>
        <p>
            <span style="color: #878787;">En théorie, rien de plus simple : la filière de réemploi Oc'Consigne constitue juste
                une nouvelle façon de faire vivre les bouteilles en verre, en les préservant
            afin qu'elle puisse servir plusieurs fois de contenant pour d'excellentes boissons locales.</span>
        </p>

        <p style="text-align: left; padding-left: 30px;">
            &nbsp;
        </p>

        <p style="text-align: left; padding-left: 30px;">
            <strong><span style="color: #000000;"><em>"Au final, tout le monde y gagne !"</em></span></strong>
        </p>

        <p style="text-align: left; padding-left: 30px;">
            <span style="color: #878787;">Cela nécessite évidemment l'implication des divers acteurs qui&nbsp;sont amenés à avoir&nbsp;ces bouteilles en main, mais au final, tout le monde y gagne !</span>
        </p>

        <p style="text-align: center;">
            &nbsp;
        </p>

        <p style="text-align: justify;">
            <span style="color: #000000;">Le réemploi des bouteilles en verre présente en effet à la fois :</span>
        </p>

        <ul>
            <li style="text-align: justify;">Des <strong>opportunités économiques</strong> (emplois locaux, réduction de
                coûts, dynamisation du maillage économique territorial...)
            </li>
        </ul>

        <ul style="text-align: justify;">
            <li>Des <strong>impacts sociaux</strong> (filière courte co-construite, sensibilisation à l'Environnement et
                participation à sa préservation, nouvelle habitude de consommation...)
            </li>
        </ul>

        <ul>
            <li style="text-align: justify;">Et&nbsp;un <strong>intérêt environnemental</strong> (entre autres choses,
                par rapport à&nbsp;une bouteille en verre à usage unique : moins d'énergie et d'eau
                consommée, moins d'émissions de gaz à effet de serre...).
            </li>
        </ul>

        <p style="text-align: justify;">
            &nbsp;
        </p>

        <p style="text-align: justify;">
            Nous menons actuellement, en coopération avec les différentes parties prenantes de la filière, l'étude de
            faisabilité qui nous permettra de définir ensemble l'organisation optimale à adopter pour
            permettre la mise en place, la pérennisation, et l'extension de cette filière de réemploi de bouteilles en
            verre.
        </p>

        <p style="text-align: justify;">
            &nbsp;
        </p>

        <p style="text-align: justify;">
            <a href="#" title="Rejoignez-nous">Envie de participer ?</a> Vous avez forcément votre place dans cette
            filière !<br>
            Et vous pourrez&nbsp;probablement&nbsp;la trouver dans le schéma ci-dessous.
        </p>
    </div>
    <div class="row ">
        <div class="col-md-6 offset-md-3 mt-4">
            <img src="assets/img/filière.png" alt="filière">
        </div>
    </div>
</div>
