<div class="row ">
    <div class="col-md-12 mt-4">
        <h1>Bienvenue dans votre espace Oc'consigne</h1>
        <div *ngIf="!logged">
            Pour afficher votre tableau de bord merci de vous identifier ou de nous contacter pour vous inscrire.
            <div>
                <button mat-menu-item
                        *ngIf="!logged"
                        [routerLink]="['auth/login']">
                    <mat-icon color="accent">login</mat-icon>
                    <span>Connexion</span>
                </button>
                <button mat-menu-item
                        *ngIf="!logged"
                        [routerLink]="['contact']">
                    <mat-icon color="primary">mail</mat-icon>
                    <span>Nous contacter</span>
                </button>
            </div>
        </div>

        <div *ngIf="roleAdmin">
            ici des tableaux d'information géneral pour un compte admin
        </div>

        <div *ngIf="logged && !roleAdmin">
            <div class="container">
                <app-collecte-history [idUser]="idCurrentUser"></app-collecte-history>
            </div>
        </div>
    </div>
</div>
