<div class="row ">
    <div class="col-md-12 mt-4">
        <h1>Bienvenue dans votre espace Oc'consigne</h1>

        <div *ngIf="user && user.role === Role.ADMIN">
            ici des tableaux d'information géneral pour un compte admin
            <app-bottle-collected-chart></app-bottle-collected-chart>
        </div>

        <div *ngIf="user && user.role === Role.USER">
            <div class="container">
                <app-passage-user-history [user]="user" [home]="true"></app-passage-user-history>
            </div>
        </div>
    </div>
</div>
